In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('raw_data.csv')

In [6]:
df.head()

,District,Block,Gram Panchayat,Village,Habitation,New Location,PWS Scheme Code,PWS Scheme Name,Latitude,Longitude,Sample Id,Fluoride (mg/l)in TW water sample,Total Coliform (CFU/100ml) in TW water sample
0,PURULIA,PARA,JABARRAH JHAPRA-II,RANIPUR,RANIPUR,NO,NaN,NaN,23.473843,86.549878,2011777,1.03,0
1,PURULIA,PARA,JABARRAH JHAPRA-II,RANIPUR,RANIPUR,NO,NaN,NaN,23.472179,86.550049,2011776,0.87,0
2,PURULIA,PARA,JABARRAH JHAPRA-II,BAGALIA,SUKHSENDIH,NO,NaN,NaN,23.434109,86.526807,2011768,0.76,0
3,PURULIA,PARA,JABARRAH JHAPRA-II,BAGALIA,DURGASINGDIH,NO,NaN,NaN,23.433336,86.538334,2011775,0.65,0
4,PURULIA,PARA,JABARRAH JHAPRA-II,BAGALIA,DURGASINGDIH,NO,NaN,NaN,23.433593,86.540368,2011773,0.59,0

In [7]:
df.describe()

,Latitude,Longitude,Sample Id,Fluoride (mg/l)in TW water sample,Total Coliform (CFU/100ml) in TW water sample
count,31829.000000,31829.000000,3.182900e+04,21820.000000,31829.000000
mean,23.302310,86.411950,1.207080e+06,0.485946,3.243551
std,0.275191,0.735353,7.518451e+05,0.369973,19.949471
min,0.000000,0.000000,2.800010e+05,0.000000,0.000000
25%,23.162622,86.213677,3.114150e+05,0.260000,0.000000
50%,23.328944,86.469924,1.041998e+06,0.400000,0.000000
75%,23.454851,86.633482,2.040198e+06,0.610000,0.000000
max,23.684258,86.903520,2.081625e+06,7.980000,1300.000000

In [ ]:
#important columns
#Habitation,Fluoride (mg/l)in TW water sample,Total Coliform (CFU/100ml) in TW water sample
#Village,Gram Panchayat,Block,District

#TW analysis
#find the threshold from net-> create a new column to use flag use area is less vulnerable and which is more vulnerable
#group the habitations and find the village with most no of vulnerable habitations
#do same for gram panchayat and block and district
#create four bar charts  of top 5 vulnerable villages,top 5 gram panchayat, Block, District

#PWS Scheme analysis
#find how many gram panchayats have the PWS scheme and make a pie chart on overall percentage
#check which district and block is having the highest no of gram panchayat with PWS scheme